<!DOCTYPE html >
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        head {
            color: #f1f1f1;
        }

        tr {
            color: #f1f1f1;
        }

        body {
            color: #f1f1f1;
            background-size: cover;
            background-image: url("https://images.unsplash.com/photo-1497250681960-ef046c08a56e?ixlib=rb-1.2.1&w=1000&q=80");
        }
    </style>

</head>
<body>
<div data-th-replace="Navbar :: Navbar"></div>

<div class="container mt-5">
    <form method="get" action="/messagetable" class="form-inline">


        <a href="newMessage" class="btn btn-primary btn-lg active mr-2" role="button" aria-pressed="true">New
            message</a>

        <td data-sec-authorize="hasRole('ADMIN')">
            <a href="Statistic" class="btn btn-secondary btn-lg active mr-2" role="button"
               aria-pressed="true">Statistic</a>
        </td>

        <td data-sec-authorize="hasRole('ADMIN')">
            <a href="usersTable" class="btn btn-secondary btn-lg active mr-2" role="button"
               aria-pressed="true">All User info</a>
        </td>


        <label for="ctrlSelect"><h5>Ordering by</h5></label>
        <select class="btn btn-secondary btn-lg active mr-2" name="nameOrder" id="ctrlSelect">
            <option value="123">ID</option>
            <option value="abc">Name</option>
            <option value="cba">Name desc</option>
            <option value="isDeleted">Show just the deleted</option>
            <option value="topic">Order by topic</option>

        </select>

        <div>

            <input class="btn btn-outline-primary btn-lg align-self-center" type="text" name="text"
                   placeholder="Search here...">
            <input type="submit" class="btn btn-primary btn-lg" style="padding-right: 20px" value="Search"/>
            <input class="btn btn-outline-primary btn-lg align-self-center" type="date" name="time"
                   placeholder="Search by text here...">
            <input type="submit" class="btn btn-primary btn-lg" style="padding-right: 20px" value="Search Date"/>
        </div>
        <form action="/messagetable" data-sec-authorize="hasRole('ADMIN')">
            <input type="checkbox" size="large" name="hide" value="false"> Show deleted message<br>
            <input type="submit" value="Submit">
        </form>

    </form>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Message</th>
            <th scope="col">Time</th>
            <th scope="col">Topic Name</th>
            <th scope="col">Info</th>
        </tr>
        </thead>
        <tbody id="msgtbody">
        <tr data-th-each="Message: ${messageList}">
            <td style="display: none" class="msgID" data-th-text="${Message.ID}"></td>
            <td><a data-th-href="@{/messagetable/{ID}(ID=${Message.ID})}" data-th-text="${Message.ID}">123</a></td>
            <td data-th-text="${Message.author}"></td>
            <td data-th-text="${Message.text}"></td>
            <td data-th-text="${{Message.creationDate}}"></td>
            <td data-th-text="${{Message.topic.title}}"></td>


            <td>
                <a data-th-href="@{/hide/{ID}(ID=${Message.ID})}" role="button" class="btn btn-outline-danger btn-sm">Hide</a>
            </td>
            <td data-sec-authorize="hasRole('ADMIN')">
                <a role="button"
                   class="btn btn-outline-danger btn-sm deleteButton">Delete</a>
            </td>


    </table>
    <script>
        $('.deleteButton').click(function (event) {
            let ID = event.target.closest('tr').querySelector('.msgID').innerText;
            $.ajax('messagetable/delete/' + ID, {
                method: "DELETE",

                //beforeSend: function(xhr){xhr.setRequestHeader('X-CSRF-TOKEN', $("input[name='_csrf']")[0].value);},

                success: function (data) {
                    let selector = ".msgID:contains('" + ID + "')";
                    $('#msgtbody tr').has(selector).fadeOut(3000);
                },
                error: function (err) {
                    alert('Nem törölhető, mert tartozik hozzá comment');
                }
            })
        })
       // $.ajax({
       //     type: "GET",
       //     url: "rest/messagetable/",
       //     async: true,
       //         beforeSend: function(xhr){xhr.setRequestHeader('Accept', 'application/json');
       //         },
       //     success: function (data){
       //         console.log(data);
       //     }});
    </script>
</div>
</body>
</html>