<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="//cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>
</head>
<body>
<div data-th-replace="Navbar :: Navbar"></div>

<div class="container">
    <div data-sec-authorize="isAuthenticated()">


        <label><h2>New Message</h2>

            <form method="POST" data-th-action="@{/createMessage}" data-th-object="${Message}">
                <div class="form-group">
                    <form class="md-form">
                        <div class="file-field">
                            <a class="btn-floating peach-gradient mt-0 float-left">
                                <i class="fas fa-paperclip" aria-hidden="true"></i>
                                <input type="file">
                            </a>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" placeholder="Upload your file">
                            </div>
                        </div>
                    </form>
                    <textarea name="editor1" id="editor1" data-th-field="*{text}" class="form-control"
                              data-th-errorclass="is-invalid" type="text" placeholder="Here write your text"
                              rows="5"></textarea>
                    <div class="invalid-feedback " data-th-if="${#fields.hasErrors('text')}" data-th-errors="*{text}">
                        Wrong text input!
                    </div>
                    <div>
                        <input type="submit" class="btn btn-primary btn-sm active" value="Submit"/>
                        <select data-th-field="*{topic.title}">
                            <option data-th-each="Topic: ${topicList}"
                                    data-th-text="${Topic.getTitle()}"
                                    data-th-value="${Topic.getTitle()}">Topics
                            </option>
                        </select>
                    </div>
            </form>
            <a href="/newTopic" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Create new
                Topic</a>
    </div>
    </label>
</div>
</div>
<script>
    CKEDITOR.replace('editor1');
</script>
</body>
</html>

